html {
    font-size: 62.5%;
}

body {
    text-align: center;
    line-height: 1.5em;
    font-size: 1.5rem;
   font-family: #393d41 1.2rem 'Open Sans' interlinea 1.65;
  
}

header {
    background-color: black;
}

header img{
    
    height: auto;
    width: 100px;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    }

#banner {
    width: 500px;
    height: 280px;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
}

#banner > h1{
    text-align: center;
    font-weight: 600;
    font-size: 2em;
    color:#25a2c3 ;
    font-family: 'Montserrat';
    padding-bottom: 0.5em;
    padding-top: 1em;
    margin-right: 2em;
    line-height: 30px;
    }

    #banner > p {
       display: block ;
       overflow-wrap: break-word;
       font-family: 'Open Sans';
       font-size: 0,5em;
       text-align: center;
       margin-right: 3.5em;
       padding-bottom: 1.5em;
    }

#banner > button {
    background-color: rgb(255, 85, 0);
    border-radius:5px;
    text-align: center;
    margin-right: 3.5em;
    border-color: rgb(255, 85, 0);
    
}

#banner > button > p {
    font-family: 'Montserrat';
    font-weight: bold;
    color: white;
    padding: 0.5em;
}

#sezioneuno h3 {
    font-family: 'Open Sans';
    color: #25a2c3;
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#sezioneuno p {
    font-family: 'Open Sans';
    font-weight: 200;
    padding-bottom: 2em;
}

#notebook {
    width: 230px;
    height: auto;
    border-radius: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}

#orange {
    background-color: orangered;
}

#orange > h1 {
    font-family: 'Montserrat';
    font-weight: 650;
    font-size: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    color:white;
    }

#orange > p {
    color: white;
    padding-bottom: 1.5em;
    font-family: 'Open Sans';
    font-weight: 400;
}

#corsivo {
    font-style: italic;
}

.primaimmagine {
    max-width: 80%;
    border-bottom: solid 1px #dee1e3;
    border-left: solid 1px #dee1e3;
    border-right: solid 1px #dee1e3;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
}

.primaimmagine > h3 {
    color: #25a2c3;
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.primaimmagine > p {
    font-weight: 200;
    padding-bottom: 2em;
}

 .imguno {
    max-width: 100%;
    width: 300px;
    height: auto;
    padding-top: 2em;
 }

 .secondaimmagine {
    max-width: 80%;
    border-bottom: solid 1px #dee1e3;
    border-left: solid 1px #dee1e3;
    border-right: solid 1px #dee1e3;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
 }

 .secondaimmagine > h3 {
    color: #25a2c3;
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
 }

 .secondaimmagine > p {
    font-weight: 200;
    padding-bottom: 2em;
 }

 .imgdue {
    max-width: 100%;
    width: 300px;
    height: auto; 
    padding-top: 2em;
}

.terzaimmagine {
    max-width: 80%;
    border-bottom: solid 1px #dee1e3;
    border-left: solid 1px #dee1e3;
    border-right: solid 1px #dee1e3;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans';
}

.terzaimmagine > h3 {
    color: #25a2c3;
    font-weight: 500;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.terzaimmagine > p {
    font-weight: 200;
    padding-bottom: 2em;
}

.imgtre {
    max-width: 100%;
    width: 300px;
    height: auto; 
    padding-top: 2em;
}

footer {
    background-color: #30b5da;
    color: white;
    font-family: 'Montserrat';
    padding-top: 2em;
}

footer h1 {
    font-size: 2.5em;
    font-weight: 600;
    padding-bottom: 0.5em;
}

footer a {
    color: white;
    line-height: 1.5em;
    padding: 1.5em;
}

#line {
    color: white;
    width: 30%;
    padding-bottom: 1em;
    border-top: none;
    border-left: none;
    border-right: none;
}

#copyright {
    font-size: smaller;
    padding-top: 1em;
    padding-bottom: 3em;
}

.fas {
    padding-right: 0.2em;
}